.notes{
    display: block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}


.deleteNoteButton{
    padding: 5px 10px;
    background-color: orangered;
    color: #FFFFFF;

    border: none;
    border-radius: 5px;
}
